
/* Doodle Stage */
svg#flash{
 z-index:-9999;
  opacity:0;
  position: absolute;
  
}
#stage {
  height: 300px;
  width: 600px;
  position: relative;
}
#player{
  opacity: 0;
}

svg#stand{
 width:27%;
 z-index: 2;
}
svg#lens{
  width:12%;
  z-index: 3;
}

#button{
width:90px;
height:55px;
z-index: 99999;
}

#three{
position: absolute;
z-index: -200;
width: 200px;
opacity: 0;
}
#two{
  position: absolute;
  z-index: -200;
  width: 200px;
  opacity: 0;
  }
#one{
    position: absolute;
    z-index: -200;
    width: 200px;
    opacity: 0;
    }
#lowerG{
width: 12%;
z-index: 3;
}
#e{
  width:13%;
  z-index: 3;
}
#G{
  width: 19%;
  z-index: 3;
}

#ShadowG{
  width:10%;
  z-index:2;
}
#lensCap{
  width:12%;
  z-index: 3;
}

#back{
  width: 650px;
}
svg#prompt{
  width: 5%;
  position: absolute;
  z-index: 2;
}

html, body { 
  height: 100%;
}

body {
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
  justify-content: center;
}

#search {
  text-align: center;
}

button {
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: .5em 1em;
  text-align: center;
}

input {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: 1px solid #aaa;
  display: block;
  padding: 1em;
  margin: 2em auto;
  outline: none;
  line-height: 2em;
  width: 80%;
}
